In [1]:
import pandas as pd
import numpy as np

In [2]:
X = pd.read_csv('Final_dummies.csv', index_col = 0)
y = pd.read_csv('Y_value.csv', index_col = 0)
TEST = pd.read_csv('flights_test.csv', index_col = 0)

In [127]:
TEST2 = pd.read_csv('flights_test.csv', index_col = 0)

In [14]:
CRS = pd.read_csv('BaselineDF_full.csv', index_col = 0)

In [20]:
CRS = CRS[['crs_dep_time', 'crs_arr_time']]

In [3]:
airports = pd.read_csv('flights-airport-hr.csv', index_col = 0)
carriers = pd.read_csv('carrier_info.csv', index_col = 0)

In [4]:
X.head()

,fl_date,origin_airport_id,dest_airport_id,taxi_out,taxi_in,distance,dep_hour,arr_hour,perc_del,med_dep_delay,...,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2018-12-01,14100,12889,15.0,6.0,2176.0,19,22,0.107507,-4.0,...,1,0,0,0,0,0,0,0,0,0
1,2018-12-01,12889,14100,32.0,12.0,2176.0,11,18,0.107507,-4.0,...,1,0,0,0,0,0,0,0,0,0
2,2018-12-01,10397,11697,11.0,4.0,581.0,17,19,0.107507,-4.0,...,1,0,0,0,0,0,0,0,0,0
3,2018-12-01,12892,10397,12.0,7.0,1947.0,9,16,0.107507,-4.0,...,1,0,0,0,0,0,0,0,0,0
4,2018-12-01,10397,12892,16.0,6.0,1947.0,11,13,0.107507,-4.0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
X = X.drop(['fl_date', 'taxi_in', 'taxi_out'], axis = 1)

In [7]:
X = X.drop(X.columns[22:], axis = 1)

In [21]:
X = X.drop(['dep_hour', 'arr_hour'], axis = 1)

In [22]:
X.shape

(99092, 20)

In [10]:
TEST = TEST.drop(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'tail_num', 'op_carrier_fl_num', 'origin_city_name', 'dest_city_name'], axis = 1)

In [12]:
TEST = TEST.drop(['dup', 'crs_elapsed_time', 'flights'], axis = 1)

In [13]:
TEST.head()

,op_unique_carrier,origin_airport_id,origin,dest_airport_id,dest,crs_dep_time,crs_arr_time,distance
0,WN,13891,ONT,14771,SFO,1810,1945,363
1,WN,13891,ONT,14771,SFO,1150,1320,363
2,WN,13891,ONT,14831,SJC,2020,2130,333
3,WN,13891,ONT,14831,SJC,1340,1455,333
4,WN,13891,ONT,14831,SJC,915,1035,333

In [30]:
CRS['crs_dep_hour'] = CRS['crs_dep_time'].apply(lambda x: str(x)[:2] if len(str(x)) == 4 else (str(x)[0] if len(str(x)) == 3 else 0))
CRS['crs_dep_hour'] = CRS['crs_dep_hour'].replace('24', '0')
CRS['crs_dep_hour'] = CRS['crs_dep_hour'].astype('int')

<ipython-input-30-c11bb01ac388>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CRS['crs_dep_hour'] = CRS['crs_dep_time'].apply(lambda x: str(x)[:2] if len(str(x)) == 4 else (str(x)[0] if len(str(x)) == 3 else 0))
<ipython-input-30-c11bb01ac388>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CRS['crs_dep_hour'] = CRS['crs_dep_hour'].replace('24', '0')
<ipython-input-30-c11bb01ac388>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CRS['crs_dep_hour'] = CRS['crs_dep_hour'].astype('int')

In [32]:
CRS['crs_arr_hour'] = CRS['crs_arr_time'].apply(lambda x: str(x)[:2] if len(str(x)) == 4 else (str(x)[0] if len(str(x)) == 3 else 0))
CRS['crs_arr_hour'] = CRS['crs_arr_hour'].replace('24', '0')
CRS['crs_arr_hour'] = CRS['crs_arr_hour'].astype('int')

<ipython-input-32-d9827dc1f02a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CRS['crs_arr_hour'] = CRS['crs_arr_time'].apply(lambda x: str(x)[:2] if len(str(x)) == 4 else (str(x)[0] if len(str(x)) == 3 else 0))
<ipython-input-32-d9827dc1f02a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CRS['crs_arr_hour'] = CRS['crs_arr_hour'].replace('24', '0')
<ipython-input-32-d9827dc1f02a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CRS['crs_arr_hour'] = CRS['crs_arr_hour'].astype('int')

In [34]:
CRS_time = CRS[['crs_dep_hour', 'crs_arr_hour']]

In [40]:
CRS_time = CRS_time.reset_index(drop = True)

In [41]:
X = X.merge(CRS_time, left_index = True, right_index = True)

In [43]:
airports.head()

  airport  hour  num_flights_leaving  num_flights_arriving  num_flights_total
0     ABE     5                 20.0                   0.0               20.0
1     ABE     6                  4.0                   0.0                4.0
2     ABE     7                  5.0                   0.0                5.0
3     ABE     9                  3.0                   4.0                7.0
4     ABE    10                  1.0                   5.0                6.0

In [55]:
carriers

,perc_del,mean_dep_delay,mean_arr_delay,mean_distance,med_dep_delay,med_arr_delay,med_distance,mean_carr,mean_weather,mean_nas,mean_sec,mean_late_air,total_cost,monthly_passengers,monthly_mail
9E,0.175563,10.032154,1.370418,482.820900,-5.0,-12.0,427.0,22.102564,4.846154,21.575092,0.000000,31.727106,0.0,976356.5,0.0
AA,0.161396,4.477335,0.478158,975.205995,-3.0,-6.0,868.0,18.089468,1.100793,14.731597,0.100793,15.976217,479414257.0,12251974.5,19462464.5
AS,0.131091,-0.662370,-6.086136,1329.635335,-6.0,-10.0,987.0,11.786571,0.458034,22.398082,0.153477,9.659472,76698940.0,2250619.0,4251007.5
AX,0.267635,11.399378,11.263485,497.609959,-4.0,-3.0,488.0,15.775194,0.961240,13.414729,0.000000,35.251938,0.0,274135.5,0.0
B6,0.245564,12.338727,9.930585,1068.144833,-4.0,-5.0,997.0,23.978746,0.296493,20.357067,0.140276,26.226355,117338300.0,3312844.5,0.0
C5,0.399371,32.558176,31.734277,419.628931,-1.5,3.5,325.0,22.795276,0.401575,26.834646,0.000000,42.511811,0.0,137745.0,0.0
CP,0.233283,17.145137,13.256839,531.106383,-4.0,-6.0,386.0,33.078176,4.729642,10.524430,0.000000,42.570033,0.0,509254.5,0.0
DL,0.102581,2.536495,-6.698093,852.178202,-3.0,-11.0,669.0,17.544071,2.367788,19.869391,0.000000,11.663462,554695520.0,12395033.5,19327320.5
EM,0.000000,-7.658537,-8.170732,71.512195,-8.0,-9.0,72.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,17776.0,0.0
EV,0.270863,16.150691,15.674297,445.662375,-4.0,-3.0,427.0,28.478873,0.406690,27.684859,0.000000,24.723592,168596.0,1348475.0,0.0
F9,0.252433,11.445814,8.245944,1081.577547,-4.0,-5.0,1013.0,21.951157,0.043702,19.503856,0.000000,24.159383,31449921.0,1447627.5,0.0
G4,0.171558,3.230248,1.485327,906.969526,-5.0,-8.0,932.0,20.019737,6.342105,11.118421,0.000000,21.763158,28784055.0,1027306.0,0.0
G7,0.227390,11.434970,5.640827,511.899225,-5.0,-9.0,491.0,20.750000,5.352273,14.768939,0.000000,31.359848,0.0,410163.5,0.0
HA,0.069665,-2.558201,-3.606702,713.395062,-6.0,-6.0,163.0,19.582278,0.746835,0.417722,0.000000,9.746835,36759074.0,930564.0,148364.5
KS,0.375000,14.625000,14.250000,792.000000,5.5,7.5,792.0,9.166667,0.000000,22.500000,0.000000,10.833333,0.0,18168.5,228883.5
MQ,0.259944,8.258404,8.232230,412.026944,-3.0,-2.0,343.0,12.506417,5.167818,14.828233,0.006910,20.785785,0.0,1083804.5,514.5
NK,0.107507,2.478221,-3.201576,1021.204819,-4.0,-9.0,980.0,13.357759,0.810345,37.116379,0.000000,9.271552,48152344.0,2021453.0,0.0
OH,0.162370,6.476687,2.360943,395.771805,-3.0,-5.0,370.0,15.809122,1.966216,11.868243,0.201014,28.817568,0.0,1056537.0,16116.5
OO,0.248767,11.529493,9.782699,496.022292,-4.0,-4.0,417.0,19.865186,5.806503,17.278351,0.100714,26.506344,12279100.0,2914621.0,0.0
PT,0.258581,13.956522,10.717010,251.333333,-4.0,-7.0,212.0,15.064897,6.206490,11.640118,0.008850,39.737463,0.0,265125.0,2132.0
QX,0.180645,5.879355,3.766452,383.247742,-3.0,-4.0,287.0,14.275000,2.596429,10.703571,0.142857,23.567857,0.0,651125.5,83058.0
UA,0.190905,7.002189,4.239908,1158.477991,-4.0,-5.0,967.0,14.628025,1.299363,22.812102,0.000000,20.503822,472939819.0,8963957.5,26474638.5
WN,0.120451,3.986880,-2.455150,743.451647,-1.0,-7.0,632.0,14.620010,0.395269,9.763923,0.234105,15.159685,319188062.0,13555486.5,0.0
YV,0.207056,9.655381,8.848895,569.443336,-3.0,-3.0,489.0,32.163511,1.437177,8.497418,0.027539,24.127367,0.0,1117751.0,15690.0
YX,0.191092,5.196360,2.342433,580.594588,-5.0,-6.0,500.0,13.615288,1.676692,21.983709,0.002506,18.006266,72538.0,1320422.5,0.0
ZW,0.289644,10.339806,12.612460,363.173139,-4.0,0.0,315.0,17.541899,2.145251,18.628492,0.000000,26.251397,7634273.5,356256.5,610.0

In [57]:
test_carrier = TEST.merge(carriers, left_on = 'op_unique_carrier', right_index = True)

,op_unique_carrier,origin_airport_id,origin,dest_airport_id,dest,crs_dep_time,crs_arr_time,distance,perc_del,mean_dep_delay,...,med_arr_delay,med_distance,mean_carr,mean_weather,mean_nas,mean_sec,mean_late_air,total_cost,monthly_passengers,monthly_mail
0,WN,13891,ONT,14771,SFO,1810,1945,363,0.120451,3.98688,...,-7.0,632.0,14.62001,0.395269,9.763923,0.234105,15.159685,319188062.0,13555486.5,0.0
1,WN,13891,ONT,14771,SFO,1150,1320,363,0.120451,3.98688,...,-7.0,632.0,14.62001,0.395269,9.763923,0.234105,15.159685,319188062.0,13555486.5,0.0
2,WN,13891,ONT,14831,SJC,2020,2130,333,0.120451,3.98688,...,-7.0,632.0,14.62001,0.395269,9.763923,0.234105,15.159685,319188062.0,13555486.5,0.0
3,WN,13891,ONT,14831,SJC,1340,1455,333,0.120451,3.98688,...,-7.0,632.0,14.62001,0.395269,9.763923,0.234105,15.159685,319188062.0,13555486.5,0.0
4,WN,13891,ONT,14831,SJC,915,1035,333,0.120451,3.98688,...,-7.0,632.0,14.62001,0.395269,9.763923,0.234105,15.159685,319188062.0,13555486.5,0.0

In [59]:
pass_sum = pd.read_csv('pass_sum_total.csv', index_col = 0)

In [62]:
pass_med = pass_sum[['airport', 'num_pass_leaving', 'num_pass_arriving', 'num_pass_total']].groupby('airport').median()

In [63]:
airport_arr = airports.rename({'num_flights_leaving':'arr_fl_lv', 'num_flights_arriving':'arr_fl_ar', 'num_flights_total':'arr_fl_tt'}, axis = 1)
airport_dep = airports.rename({'num_flights_leaving':'dep_fl_lv', 'num_flights_arriving':'dep_fl_ar', 'num_flights_total':'dep_fl_tt'}, axis = 1)
pass_arr = pass_med.rename({'num_pass_leaving':'arr_ps_lv', 'num_pass_arriving':'arr_ps_ar', 'num_pass_total':'arr_ps_tt'}, axis = 1)
pass_dep = pass_med.rename({'num_pass_leaving':'dep_ps_lv', 'num_pass_arriving':'dep_ps_ar', 'num_pass_total':'dep_ps_tt'}, axis = 1)

In [88]:
pass_arr

         arr_ps_lv  arr_ps_ar  arr_ps_tt
airport
05A           21.0       19.0       46.0
06A            1.0        0.0        1.0
08A            1.0        3.0        4.0
09A            1.0        3.5        6.0
1B1            4.0        1.0        4.0
...            ...        ...        ...
ZXM           22.5       20.5       42.0
ZXN          124.0       94.0      200.0
ZXT            0.0        0.0        0.0
ZXU            3.0        3.0        7.0
ZZV            3.0        3.0        6.0

[2708 rows x 3 columns]

In [74]:
test_carrier.columns

Index(['op_unique_carrier', 'origin_airport_id', 'origin', 'dest_airport_id',
       'dest', 'crs_dep_time', 'crs_arr_time', 'distance', 'perc_del',
       'mean_dep_delay', 'mean_arr_delay', 'mean_distance', 'med_dep_delay',
       'med_arr_delay', 'med_distance', 'mean_carr', 'mean_weather',
       'mean_nas', 'mean_sec', 'mean_late_air', 'total_cost',
       'monthly_passengers', 'monthly_mail'],
      dtype='object')

In [75]:
test_carrier['crs_arr_hour'] = test_carrier['crs_arr_time'].apply(lambda x: str(x)[:2] if len(str(x)) == 4 else (str(x)[0] if len(str(x)) == 3 else 0))
test_carrier['crs_arr_hour'] = test_carrier['crs_arr_hour'].replace('24', '0')
test_carrier['crs_arr_hour'] = test_carrier['crs_arr_hour'].astype('int')

In [76]:
test_carrier['crs_dep_hour'] = test_carrier['crs_dep_time'].apply(lambda x: str(x)[:2] if len(str(x)) == 4 else (str(x)[0] if len(str(x)) == 3 else 0))
test_carrier['crs_dep_hour'] = test_carrier['crs_dep_hour'].replace('24', '0')
test_carrier['crs_dep_hour'] = test_carrier['crs_dep_hour'].astype('int')

In [79]:
pass_med

         num_pass_leaving  num_pass_arriving  num_pass_total
airport
05A                  21.0               19.0            46.0
06A                   1.0                0.0             1.0
08A                   1.0                3.0             4.0
09A                   1.0                3.5             6.0
1B1                   4.0                1.0             4.0
...                   ...                ...             ...
ZXM                  22.5               20.5            42.0
ZXN                 124.0               94.0           200.0
ZXT                   0.0                0.0             0.0
ZXU                   3.0                3.0             7.0
ZZV                   3.0                3.0             6.0

[2708 rows x 3 columns]

In [90]:
test_carrier = test_carrier.merge(airport_arr, left_on = ['origin', 'crs_dep_hour'], right_on = ['airport', 'hour'])
test_carrier = test_carrier.merge(airport_dep, left_on = ['dest', 'crs_arr_hour'], right_on = ['airport', 'hour'])
test_carrier = test_carrier.merge(pass_arr, left_on = 'origin', right_on = 'airport')
test_carrier_air = test_carrier.merge(pass_dep, left_on = 'dest', right_on = 'airport')

In [104]:
test_carrier_air.columns

Index(['origin_airport_id', 'dest_airport_id', 'distance', 'perc_del',
       'med_dep_delay', 'med_arr_delay', 'med_distance', 'mean_carr',
       'mean_weather', 'mean_nas', 'mean_sec', 'mean_late_air',
       'monthly_passengers', 'monthly_mail', 'crs_arr_hour', 'crs_dep_hour',
       'arr_fl_lv', 'arr_fl_ar', 'dep_fl_lv', 'dep_fl_ar', 'arr_ps_tt',
       'dep_ps_tt'],
      dtype='object')

In [105]:
X.columns

Index(['origin_airport_id', 'dest_airport_id', 'distance', 'perc_del',
       'med_dep_delay', 'med_arr_delay', 'med_distance', 'mean_carr',
       'mean_weather', 'mean_nas', 'mean_sec', 'mean_late_air',
       'monthly_passengers', 'monthly_mail', 'dep_fl_lv', 'dep_fl_ar',
       'arr_fl_lv', 'arr_fl_ar', 'dep_ps_tt', 'arr_ps_tt', 'crs_dep_hour',
       'crs_arr_hour'],
      dtype='object')

In [96]:
test_carrier_air = test_carrier_air.drop(['mean_dep_delay', 'mean_arr_delay', 'mean_distance', 'airport_x', 'hour_x', 'airport_y', 'hour_y', 'arr_fl_tt', 'dep_fl_tt', 'arr_ps_ar', 'arr_ps_lv', 'dep_ps_lv', 'dep_ps_ar'], axis = 1)

In [103]:
test_carrier_air = test_carrier_air.drop(['total_cost'], axis = 1)

In [106]:
X_train = X

In [107]:
X_test = test_carrier_air

In [109]:
y_train = y

In [110]:
from sklearn.preprocessing import StandardScaler

In [111]:
scaler = StandardScaler()

In [118]:
scaler.fit(X_train)
Xs_train = scaler.transform(X_train)

In [117]:
scaler.fit(X_test)
Xs_test = scaler.transform(X_test)

In [114]:
from imblearn.over_sampling import SMOTE

In [119]:
oversample = SMOTE()
Xs_train, Y_train = oversample.fit_resample(Xs_train, y_train)

In [120]:
from sklearn.ensemble import RandomForestClassifier

In [121]:
forest = RandomForestClassifier(max_depth = 20, n_estimators = 200)

In [123]:
forest.fit(Xs_train, Y_train.values.ravel())

RandomForestClassifier(max_depth=20, n_estimators=200)

In [124]:
Y_predict = forest.predict(Xs_test)

In [136]:
Yss = pd.DataFrame(Y_predict)

In [133]:
Test2 =  TEST2[['fl_date', 'mkt_carrier', 'mkt_carrier_fl_num', 'origin', 'dest']]

In [140]:
Submission1 = Test2.merge(Yss, left_index = True, right_index = True).rename({0:'Is_arr_delayed'}, axis = 1)

In [190]:
Submission_1 = Submission1.iloc[:150623]

In [192]:
Submission_1.to_csv('submission.csv')

In [198]:
X_test[:150623].to_csv('flights_test_processed.csv')

In [196]:
Xs_test[:150623].shape

(150623, 22)